
<% @title= "Jersey City News, Businesses & Style - itsjerseycity" %>

<div id="section" class="section1">
	<h2>Blog</h2>
	<div class="inner">
		<p>The official blog of itsjerseycity. Just read it.</p>
		<a href="http://itsjerseycity.com/blog" class="button">Read</a>
	</div>
</div>


<div id="section" class="section2">
	<h2>Coming Soon...</h2>
	<div class="inner">
		<p>Jersey City Swag</p>
		<p>Discussion Forums</p>
		<p>Local Business Pages</p>
	</div>
</div>