
<% @title= "Jersey City News, Businesses & Style - itsjerseycity" %>

<h1>Jersey City - Local Restaurants &amp; Businesses </h1>
<p>Explore local businesses, restaurants, and stores.
	<a href="http://itsjerseycity.com">Made in Jersey City by itsjerseycity</a>
</p>

<p>
	<a href="#">Sign in</a>
</p>

