<h1>All Places</h1>

<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  
  <%= render @places %>

</tbody>
</table>

<br />

<%= link_to 'New Place', new_place_path %>
